<mat-toolbar class="extend-toolbar">
  <a class="logo" href="http://www.amatrami.com"><img alt="Site officiel d'AMATRAMI" src="assets/images/logoNomClean.png"></a>

  <span class="flex"></span>

  <span>
    <a [routerLink]="['/apprenants']">Apprenants</a>
    <a [routerLink]="['/formateurs']">Formateurs</a>
    <a [routerLink]="['/cours']">Cours</a>
    <a [routerLink]="['/sites']">Sites</a>
    <a [routerLink]="['/groupes']">Groupes</a>
    <a [routerLink]="['/statistiques']">Statistiques</a>
    <a  [routerLink]="['/logout']">
      <button mat-button >
        <mat-icon [ngStyle]="{'color':'white'}" svgIcon="logo-logout"></mat-icon>
      </button>
      Se Déconnecter
    </a>

  </span>
</mat-toolbar>