<mat-toolbar>
  <mat-toolbar-row>
    <span>Formateurs</span>
    <span class="flex"></span>
    <span>Site : </span>

      <mat-form-field>
          <mat-select [(value)]="selectedSiteId">
              <mat-option value="allSites" (click)="afficherFormateurs()">Tous les sites</mat-option>
              <mat-option *ngFor="let s of sites" (click)="afficherFormateurs()" [value]="s.id">{{s.ville}}</mat-option>
          </mat-select>
      </mat-form-field>

    <span class="flex"></span>
    <span>
          <mat-form-field>
              <mat-icon matPrefix></mat-icon>
              <input matInput (input)="applyFilter($event.target.value)" placeholder="Chercher" >
          </mat-form-field>
    </span>

  </mat-toolbar-row>
</mat-toolbar>

<section>
        <mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort>

            <ng-container matColumnDef="NomPrenom">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nom</mat-header-cell>
                    <mat-cell *matCellDef="let element">
                    <a [routerLink]="['/formateur', element.id]">
                        <span>{{element.nom}} {{element.prenom}}</span>
                    </a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Tel">
                <mat-header-cell *matHeaderCellDef> Tél</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.telephone}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Adresse">
                <mat-header-cell *matHeaderCellDef> Adresse</mat-header-cell>
                <mat-cell
                        *matCellDef="let element"> {{element.adresse}} {{element.code_postal}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Delete">
                <mat-header-cell *matHeaderCellDef ></mat-header-cell>
                <mat-cell
                        *matCellDef="let element">
                    <button mat-button title="Delete" (click)="deleteConfirmation(element.id)">
                        <mat-icon svgIcon="icon-delete"></mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
</section>

<section class="buttons-fab" *ngIf="dialogStatus === 'inactive'">
    <button (click)="showDialog()" mat-fab color="primary" class="button-add">
        <b class="material-icons">+</b>
    </button>
</section>
