
.content-page {
    display:flex;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    height:calc(100vh - 130px);
    top:130px;
}

.mat-success{
	 background-color: green;
}
