<mat-toolbar>
  <mat-toolbar-row>
    <span>Formateurs</span>
    <span class="flex"></span>
    <span>Site : </span>
    <button mat-button [matMenuTriggerFor]="menuSite">Menu</button>
    <mat-menu #menuSite="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>


    <span class="flex"></span>
    <span>
          <mat-form-field>
             <mat-icon matPrefix>search</mat-icon>
              <input matInput
                     placeholder="Chercher">
        </mat-form-field>

      </span>

  </mat-toolbar-row>

</mat-toolbar>

<section>
  <app-formateurs-card [formateur]="formateur" *ngFor="let formateur of formateurs"></app-formateurs-card>
</section>