<br/>
<div>  
      <input class="download"  type="button" value="Télecharger" (click)="makePdf()"/>  
 </div> 
<br/><br/>
<div id="content">
  <br/><br/><br/>

<form novalidate [formGroup]="form">
<mat-toolbar >
    <mat-toolbar-row>

       
        <span>Site : </span>
        <mat-form-field>
            <mat-select [(value)]="selectedSiteId">
                <mat-option value="allSites" (click)="groupesSites = groupes; afficherStats()">Tous les sites</mat-option>
                <mat-option *ngFor="let site of sites" [value]="site.id" (click)="afficherStats()">{{site.ville}}</mat-option>
            </mat-select>
        </mat-form-field>

        <span class="flex"></span>

        <span>Durée :  &nbsp;</span> &nbsp;
	
<a>Du &nbsp; </a>
	<mat-form-field class="tab">
                <input matInput type="date" name="debutDate" formControlName="debutDate" />
            </mat-form-field>
&nbsp; <a>Au </a> &nbsp;
	<mat-form-field class="tab">

                <input matInput type="date"  name="finDate"  formControlName="finDate" />
            </mat-form-field>

<button mat-button color="primary" type="submit" (click)="submit()" >Appliquer</button>
    
    </mat-toolbar-row>
</mat-toolbar>
  </form> 


<mat-tab-group>
  <mat-tab >
    <mat-grid-list cols="3" rowHeight="5:4">
      <mat-grid-tile>
        <mat-grid-tile-header>Répartition hommes / femmes</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="sexeData"
                  [labels]="sexeLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par âge</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="ageData"
                  [labels]="ageLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      
<mat-grid-tile>
        <mat-grid-tile-header>Répartition par nationalité</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="nationaliteData"
                  [labels]="nationaliteLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par site</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="siteData"
                  [labels]="siteLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par titre de séjour</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="sejourData"
                  [labels]="sejourLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par niveau de langue</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="niveauLangueData"
                  [labels]="niveauLangueLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par niveau de scolarisation</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="niveauScolData"
                  [labels]="niveauScolLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par quartier prioritaire</mat-grid-tile-header>
        <div style="display: block">
		<canvas baseChart
                  [data]="quartierPrioData"
                  [labels]="quartierPrioLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
         
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par primo arrivant</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="primoArrivantData"
                  [labels]="primoArrivantLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
</div>
