<mat-toolbar>
  <mat-toolbar-row>
    <span>Statistiques</span>
    <span class="flex"></span>
    <span>Site : </span>
    <button mat-button [matMenuTriggerFor]="menuSite">Menu</button>
    <mat-menu #menuSite="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>
    <span class="flex"></span>
  </mat-toolbar-row>
</mat-toolbar>

<br/><br/><br/>

<mat-grid-list cols="2" rowHeight="1:1">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Répartition hommes/femmes</mat-card-title>
      <mat-card-content>
        <div style="display: block">
          <canvas baseChart
                  [datasets]="sexeData"
                  [labels]="sexeLabels"
                  [options]="barChartOptions"
                  [legend]=false
                  [chartType]="bar"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Répartition par âge</mat-card-title>
      <mat-card-content>
        <div style="display: block">
          <canvas baseChart
                  [data]="ageData"
                  [labels]="ageLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Répartition par nationalité</mat-card-title>
      <mat-card-content>
        <div style="display: block">
          <canvas baseChart
                  [data]="nationaliteData"
                  [labels]="nationaliteLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Répartition par nationalité</mat-card-title>
      <mat-card-content>
        <div style="display: block">
          <canvas baseChart
                  [data]="siteData"
                  [labels]="siteLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Répartition par titre de séjour</mat-card-title>
      <mat-card-content>
        <div style="display: block">
          <canvas baseChart
                  [data]="sejourData"
                  [labels]="sejourLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Répartition par niveau de langue</mat-card-title>
      <mat-card-content>
        <div style="display: block">
          <canvas baseChart
                  [data]="niveauLangueData"
                  [labels]="niveauLangueLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Répartition par niveau de scolarisation</mat-card-title>
      <mat-card-content>
        <div style="display: block">
          <canvas baseChart
                  [data]="niveauScolData"
                  [labels]="niveauScolLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Répartition par quartier prioritaire</mat-card-title>
      <mat-card-content>
        <div style="display: block">
          <canvas baseChart
                  [data]="quartierPrioData"
                  [labels]="quartierPrioLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

