<br/>
<button (click)="makePdf()" class="download">Télecharger </button>
<br/><br/>
<div id="content">
  <br/><br/><br/>

<mat-tab-group>
  <mat-tab label="Tous les sites">
    <mat-grid-list cols="3" rowHeight="5:4">
      <mat-grid-tile>
        <mat-grid-tile-header>Répartition hommes / femmes</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="sexeData"
                  [labels]="sexeLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par âge</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="ageData"
                  [labels]="ageLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par nationalité</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="nationaliteData"
                  [labels]="nationaliteLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par site</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="siteData"
                  [labels]="siteLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par titre de séjour</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="sejourData"
                  [labels]="sejourLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par niveau de langue</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="niveauLangueData"
                  [labels]="niveauLangueLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par niveau de scolarisation</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="niveauScolData"
                  [labels]="niveauScolLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-grid-tile-header>Répartition par quartier prioritaire</mat-grid-tile-header>
        <div style="display: block">
          <canvas baseChart
                  [data]="quartierPrioData"
                  [labels]="quartierPrioLabels"
                  [chartType]="doughnut"
                  [colors]="chartColors"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"></canvas>
        </div>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
</div>
