<mat-toolbar>
  <mat-toolbar-row>
    <span>Sites</span>
    <span class="flex"></span>
    <span>
        <mat-form-field>
            <mat-icon matPrefix></mat-icon>
            <input matInput (input)="applyFilter($event.target.value)" placeholder="Chercher">
        </mat-form-field>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<section>
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort>
                        <ng-container matColumnDef="ville">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Ville</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.ville}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell
                        *matCellDef="let element">
                    <button mat-button title="Delete" (click)="deleteConfirmation(element.id)">
                        <mat-icon svgIcon="icon-delete"></mat-icon>
                    </button>

                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>

<button color="success" mat-raised-button style="position: absolute;left: 20px;bottom: 5px;margin: 0;" mat-button type="button" (click)="downloadSitesExcel()">Télécharger liste des sites EXCEL</button>
<button color="success" mat-raised-button style="position: absolute;left: 20px;bottom: 45px;margin: 0;" mat-button type="button" ><label>Importer liste des sites EXCEL<input hidden type="file"  accept=".xlsx" (change)="onFileChange($event)" multiple="false"></label></button>



</section>

<section class="buttons-fab" *ngIf="dialogStatus === 'inactive'">
    <button (click)="showDialog()" mat-fab color="primary" class="button-add">
        <b class="material-icons">+</b>
    </button>
</section>
