<mat-toolbar>
  <mat-toolbar-row>
    <span>Sites</span>
    <span class="flex"></span>
    <span>
        <mat-form-field>
            <mat-icon matPrefix></mat-icon>
            <input matInput placeholder="Chercher" [(ngModel)]="searchText">
        </mat-form-field>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<section>

    <!--<app-sites-card [site]="site" (deleteSite)="delete($event)" *ngFor="let site of sites"> </app-sites-card>-->

    <mat-card class="mat-whiteframe-2dp">
        <mat-card-content>
            <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource | search : ['ville'] : searchText">
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef> Id du site</mat-header-cell>

                        <mat-cell *matCellDef="let element">
                            <span>{{element.id}}</span>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="ville">
                        <mat-header-cell *matHeaderCellDef> Ville</mat-header-cell>
                        <mat-cell *matCellDef="let element"> {{element.ville}} </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Delete">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell
                                *matCellDef="let element">
                            <button mat-button title="Delete" (click)="delete(element.id)">
                                <mat-icon svgIcon="icon-delete"></mat-icon>
                            </button>

                        </mat-cell>
                    </ng-container>
                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </mat-card-content>

    </mat-card>

</section>

<section class="buttons-fab" *ngIf="dialogStatus === 'inactive'">
    <button (click)="showDialog()" mat-fab color="primary" class="button-add">
        <b class="material-icons">+</b>
    </button>
</section>
