<mat-toolbar>
    <mat-toolbar-row>
        <span>Presences</span>
    </mat-toolbar-row>
</mat-toolbar>

<section>
    <mat-card class="mat-whiteframe-2dp">
        <mat-card-content>
            <div class="example-container mat-elevation-z8">
                <mat-table #table [dataSource]="dataSource">
                    <ng-container matColumnDef="NomApprenant">
                        <mat-header-cell *matHeaderCellDef> Date du cours</mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <a [routerLink]="['/updatePresence', idCours, element.valueOf()]">
                                {{ element }}
                            </a>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="Present">
                        <mat-header-cell *matHeaderCellDef> Télécharger</mat-header-cell>

                        <mat-cell *matCellDef="let element">
                                <span>{{element.present}}</span>
                        </mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </div>
        </mat-card-content>

    </mat-card>
</section>
