<h2 mat-dialog-title>Authentifiez vous : </h2>

<mat-dialog-content>
  <form novalidate [formGroup]="form">
    <mat-accordion>
      <p>
        <mat-form-field class="full-width">
          <input matInput placeholder="Nom" formControlName="username" minlength="2" required name="username" />
          <mat-error *ngIf="form.get('username').dirty && form.get('username').hasError('required')">
            Le nom est <strong>requis</strong>
          </mat-error>
          <mat-error *ngIf="form.get('username').dirty && form.get('username').hasError('minLength')">
            min <strong>2 lettres</strong>
          </mat-error>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field class="full-width">
          <input matInput placeholder="Mot de passe" formControlName="password" minlength="2" required name="password" />
          <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('required')">
            Le mot de passe est <strong>requis</strong>
          </mat-error>
          <mat-error *ngIf="form.get('password').dirty && form.get('password').hasError('minLength')">
            min <strong>2 lettres</strong>
          </mat-error>
        </mat-form-field>
      </p>
    </mat-accordion>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
