.mat-card{
    padding: 50px;
    border-radius: 4px;
}
.form-container {
    height:calc(100vh - 50px);
    display:flex;
    flex-basis:468px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
}

.cur{
    cursor: pointer;
}

#login-container {
    display:flex;
    justify-content: center;
    align-content: center;
    height:100vh;
}

.fixedWidth {
    width:400px;
}


#submitButton {
    color: black;
    background: #634672;
}

.align-center, a {
    text-align: center;
    text-decoration: none;
}

*, :after, :before {
    box-sizing: border-box;
}

.login {
    height: calc(100vh - 50px);
    min-width: 100vh;
    background-size:cover;
    background-attachment: fixed;
}