<section>

  <mat-card class="mat-whiteframe-2dp">
    <mat-dialog-actions align="end">
      <button mat-button type="button" mat-raised-button color="primary" [routerLink]="['/updateApprenant', apprenant.id]">Modifier</button>
    </mat-dialog-actions>


    <br/><br/><br/>
    <mat-tab-group>
      <mat-tab label="Etat Civil">
        <mat-card>
          <mat-card-title-group>
            <mat-card-title>
              <span>{{ apprenant.nom }} {{ apprenant.prenom }} {{ apprenant.genre }}</span>
            </mat-card-title>
          </mat-card-title-group>
          <mat-grid-list cols="2" rowHeight="9:1">
              <mat-grid-tile><mat-card-content>Adresse : {{ apprenant.adresse}}</mat-card-content></mat-grid-tile>

            <mat-grid-tile><mat-card-content>Majeur :
              <mat-icon style="color: green" svgIcon="check" *ngIf="apprenant.majeur==true"></mat-icon>
              <mat-icon style="color: red" svgIcon="not-check" *ngIf="apprenant.majeur==false"></mat-icon></mat-card-content>
            </mat-grid-tile>
              <mat-grid-tile><mat-card-content>Commune : {{ apprenant.commune }} , {{ apprenant.codePostal }}</mat-card-content></mat-grid-tile>

            <mat-grid-tile><mat-card-content>RSA : {{ apprenant.rsa }}</mat-card-content></mat-grid-tile>
            <mat-grid-tile><mat-card-content>Telephone : {{ apprenant.telephone}}</mat-card-content></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
              <mat-grid-tile><mat-card-content>Date de naissance : {{ apprenant.dateNaissance | date:'dd/MM/yyyy' }}</mat-card-content></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
              <mat-grid-tile><mat-card-content>Situation personnelle : {{ apprenant.situationPersonnelle}}</mat-card-content></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
              <mat-grid-tile><mat-card-content>Pays d'origine : {{ apprenant.paysOrigine }}</mat-card-content></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
              <mat-grid-tile><mat-card-content>Nationalité : {{ apprenant.nationalite }}</mat-card-content></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
              <mat-grid-tile><mat-card-content>Statut professionnel : {{ apprenant.statutPro }}</mat-card-content></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>
              <mat-grid-tile><mat-card-content>Type de contrat : {{ apprenant.typeContrat }}</mat-card-content></mat-grid-tile>
            <mat-grid-tile></mat-grid-tile>

          </mat-grid-list>
        </mat-card>
      </mat-tab>

      <mat-tab label="Niveau d'études">
        <mat-card-content>
          Temps de scolarisation : {{ apprenant.tempsScolarisation}}
        </mat-card-content>
        <mat-card-content>
          Diplôme : {{ apprenant.diplome }}
        </mat-card-content>
        <mat-card-content>
          Milieu scolaire : {{ apprenant.milieuScolaire }}
        </mat-card-content>
        <mat-card-content>
          Niveau de langue : {{ apprenant.niveauLangue }}
        </mat-card-content>
        <mat-card-content>
          Sait lire dans sa langue : {{ apprenant.lireLangue }}
        </mat-card-content>
        <mat-card-content>
          Sait écrire dans sa langue : {{ apprenant.ecrireLangue }}
        </mat-card-content>
        <mat-card-content>
          Sait lire l'alphabet latin : {{ apprenant.lireAlphaLatin }}
        </mat-card-content>
        <mat-card-content>
          Sait écrire l'alphabet latin : {{ apprenant.ecrireAlphaLatin }}
        </mat-card-content>
      </mat-tab>

      <mat-tab label="Séjour">
        <mat-card-content>
          Date d'arrivée : {{ apprenant.dateArrivee | date:'dd/MM/yyyy' }}
        </mat-card-content>
        <mat-card-content>
          Statut de séjour : {{ apprenant.statutSejour }}
        </mat-card-content>
        <mat-card-content>
          Date de la carte de séjour : {{ apprenant.dateCarteSejour }}
        </mat-card-content>
        <mat-card-content>
          Date de fin de la carte de séjour : {{ apprenant.dateFinCarteSejour }}
        </mat-card-content>
      </mat-tab>


      <mat-tab label="Inscription">
        <mat-card-content>
          Date de l'inscription : {{ apprenant.dateInscription | date:'dd/MM/yyyy' }}
        </mat-card-content>
        <mat-card-content>
          Cotisation : {{ apprenant.cotisationPayee }}
        </mat-card-content>
        <mat-card-content>
          Auteur du dossier : {{ apprenant.auteurDossier }}
        </mat-card-content>
        <mat-card-content>
          Numéro de groupe : {{ apprenant.idGroupe }}
        </mat-card-content>
        <mat-card-content>
          Quartier prioritaire : {{ apprenant.quartierPrioritaire}}
        </mat-card-content>
        <mat-card-content>
          Prise en charge : {{ apprenant.priseCharge }}
        </mat-card-content>
        <mat-card-content>
          Remarques : {{ apprenant.remarques }}
        </mat-card-content>
      </mat-tab>
    </mat-tab-group>

  </mat-card>

</section>
