<section>
  <mat-card class="mat-whiteframe-2dp">
    <mat-dialog-actions align="end">
      <button mat-button type="button" [routerLink]="['/updateApprenant', apprenant.id]">Modifier</button>
    </mat-dialog-actions>

    <mat-card-title-group>
      <mat-card-title>
        <span>{{ apprenant.nom }} {{ apprenant.prenom }}</span>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      Telephone : {{ apprenant.telephone}}
    </mat-card-content>
    <mat-card-content>
      Adresse : {{ apprenant.adresse}}
    </mat-card-content>
    <mat-card-content>
      Code postal : {{ apprenant.codePostal }}
    </mat-card-content>
    <mat-card-content>
      Commune : {{ apprenant.commune }}
    </mat-card-content>
    <mat-card-content>
      Numéro de groupe : {{ apprenant.idGroupe }}
    </mat-card-content>
    <mat-card-content>
      Date de l'inscription : {{ apprenant.dateInscription | date:'dd/MM/yyyy' }}
    </mat-card-content>
    <mat-card-content>
      Auteur du dossier : {{ apprenant.auteurDossier }}
    </mat-card-content>
    <mat-card-content>
      Majeur : {{ apprenant.majeur }}
    </mat-card-content>
    <mat-card-content>
      Date de naissance : {{ apprenant.dateNaissance | date:'dd/MM/yyyy' }}
    </mat-card-content>
    <mat-card-content>
      Genre : {{ apprenant.genre }}
    </mat-card-content>
    <mat-card-content>
      Pays d'origine : {{ apprenant.paysOrigine }}
    </mat-card-content>
    <mat-card-content>
      Nationalité : {{ apprenant.nationalite }}
    </mat-card-content>
    <mat-card-content>
      Date d'arrivée : {{ apprenant.dateArrivee | date:'dd/MM/yyyy' }}
    </mat-card-content>
    <mat-card-content>
      Quartier prioritaire : {{ apprenant.quartierPrioritaire}}
    </mat-card-content>
    <mat-card-content>
      Situation personnelle : {{ apprenant.situationPersonnelle}}
    </mat-card-content>
    <mat-card-content>
      Prise en charge : {{ apprenant.priseCharge }}
    </mat-card-content>
    <mat-card-content>
      RSA : {{ apprenant.rsa }}
    </mat-card-content>
    <mat-card-content>
      Temps de scolarisation : {{ apprenant.tempsScolarisation}}
    </mat-card-content>
    <mat-card-content>
      Diplôme : {{ apprenant.diplome }}
    </mat-card-content>
    <mat-card-content>
      Milieu scolaire : {{ apprenant.milieuScolaire }}
    </mat-card-content>
    <mat-card-content>
      Niveau de langue : {{ apprenant.niveauLangue }}
    </mat-card-content>
    <mat-card-content>
      Sait lire dans sa langue : {{ apprenant.lireLangue }}
    </mat-card-content>
    <mat-card-content>
      Sait écrire dans sa langue : {{ apprenant.ecrireLangue }}
    </mat-card-content>
    <mat-card-content>
      Sait lire l'alphabet latin : {{ apprenant.lireAlphaLatin }}
    </mat-card-content>
    <mat-card-content>
      Sait écrire l'alphabet latin : {{ apprenant.ecrireAlphaLatin }}
    </mat-card-content>
    <mat-card-content>
      Cotisation : {{ apprenant.cotisationPayee }}
    </mat-card-content>
    <mat-card-content>
      Remarques : {{ apprenant.remarques }}
    </mat-card-content>
  </mat-card>

</section>
