<h2 mat-dialog-title *ngIf="isUpdateMode">Modifier un groupe</h2>
<h2 mat-dialog-title *ngIf="!isUpdateMode">Créer un groupe</h2>

<mat-dialog-content>
  <form novalidate [formGroup]="form">
    <mat-accordion>
        <p>
          <mat-form-field class="full-width">
            <mat-select placeholder="Site" formControlName="ville" name="ville">
              <mat-option *ngFor="let s of sites; let i = index;" [value]="s.ville">
                {{s.ville}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('ville').dirty && form.get('ville').hasError('required')">
              ville est <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="Nom" formControlName="nom" minlength="2" required name="nom" />
            <mat-error *ngIf="form.get('nom').dirty && form.get('nom').hasError('required')">
              nom est <strong>requis</strong>
            </mat-error>
            <mat-error *ngIf="form.get('nom').dirty && form.get('nom').hasError('minlength')">
              min <strong>2 lettres</strong>
            </mat-error>
          </mat-form-field>
        </p>
    </mat-accordion>
  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Annuler</button>
  <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Enregistrer</button>
</mat-dialog-actions>
