<h2 mat-dialog-title *ngIf="isUpdateMode">Modifier un apprenant</h2>
<h2 mat-dialog-title *ngIf="!isUpdateMode">Créer un apprenant</h2>

<mat-dialog-content>
  <form novalidate [formGroup]="form">

    <p *ngIf="isUpdateMode">
      <span style="width:100%">{{ form.get('matiere').value }} {{ form.get('horaire').value }}</span>
    </p>

    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header>
          <mat-panel-title>Profil</mat-panel-title>
        </mat-expansion-panel-header>
        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="Matière" formControlName="matiere" minlength="2" required name="matiere" />
            <mat-error *ngIf="form.get('matiere').dirty && form.get('matiere').hasError('required')">
              nom est <strong>requis</strong>
            </mat-error>
            <mat-error *ngIf="form.get('matiere').dirty && form.get('matiere').hasError('minlength')">
              min <strong>2 lettres</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="Horaire" formControlName="horaire" minlength="2" required name="horaire" />
            <mat-error *ngIf="form.get('horaire').dirty && form.get('horaire').hasError('required')">
              horaire est <strong>requis</strong>
            </mat-error>
            <mat-error *ngIf="form.get('horaire').dirty && form.get('horaire').hasError('minlength')">
              min <strong>2 lettres</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <input matInput placeholder="Durée" formControlName="duree" maxlength="255" required name="duree" />
            <mat-error *ngIf="form.get('duree').dirty && form.get('duree').hasError('required')">
              duree est <strong>requis</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <mat-select placeholder="Formateur" formControlName="formateur" name="formateur" [value]="formateur">
              <mat-option *ngFor="let f of formateurs;" [value]="f.nom + ' ' + f.prenom">
                {{f.nom}} {{f.prenom}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="form.get('formateur').dirty && form.get('formateur').hasError('required')">
              codePostal est <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </p>
        <p>
          <mat-form-field class="full-width">
            <mat-select placeholder="Groupes" formControlName="groupe" name="groupe" [value]="groupe">
              <mat-option *ngFor="let g of groupes;" [value]="g.nom">
                {{g.nom}}
              </mat-option>
            </mat-select><mat-error *ngIf="form.get('groupe').dirty && form.get('groupe').hasError('required')">
              groupe est <strong>requis</strong>
            </mat-error>
            <mat-error *ngIf="form.get('groupe').dirty && form.get('groupe').hasError('minlength')">
              minimum <strong>2 characteres</strong>
            </mat-error>
          </mat-form-field>
        </p>
      </mat-expansion-panel>
    </mat-accordion>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>
