<h2 mat-dialog-title> Modifier la fiche de présence</h2>

      <mat-dialog-content *ngFor="let presence of presences">
        <form novalidate [formGroup]="form">

          <p>
            <mat-dialog-actions>
              {{ presence.idApprenant }}
              {{ presence.present }}
              <button mat-button color="primary" type="submit" align="right" (click)="submit(form.value)" [disabled]="form.invalid">Present</button>
              <button mat-button color="warn" type="submit" align="right" (click)="submit(form.value)" [disabled]="form.invalid">Absent</button>
            </mat-dialog-actions>
          </p>

        </form>
      </mat-dialog-content>


<mat-dialog-actions align="end">
  <button mat-button type="button" (click)="cancel()">Cancel</button>
  <button mat-button color="primary" type="submit" (click)="submit(form.value)" [disabled]="form.invalid">Save</button>
</mat-dialog-actions>