<mat-toolbar>
    <mat-toolbar-row>
        <span>Apprenants</span>
        <span class="flex"></span>

        <span>Site : </span>
        <mat-form-field>
            <mat-select>
                <mat-option matInput (click)="groupesSites = groupes">Tous les sites</mat-option>
                <mat-option matInput *ngFor="let site of sites" value="option" (click)="setSite(site)">{{site.ville}}</mat-option>
            </mat-select>
        </mat-form-field>

        <span class="flex"></span>

        <span>Groupe : </span>
        <mat-form-field>
            <mat-select>
                <mat-option matInput *ngFor="let groupe of groupesSites" value="option" (click)="changeApprenants(groupe)">{{groupe.nom}}</mat-option>
            </mat-select>
        </mat-form-field>

        <span class="flex"></span>
        <span>
          <mat-form-field>
              <mat-icon matPrefix>search</mat-icon>
              <input matInput placeholder="Chercher">
          </mat-form-field>
      </span>

    </mat-toolbar-row>
</mat-toolbar>

<section>
    <app-apprenant-card [apprenant]="apprenant" (deleteApprenant)="delete($event)"
                        *ngFor="let apprenant of apprenants"></app-apprenant-card>
</section>

<section class="buttons-fab" *ngIf="dialogStatus === 'inactive'">
    <button (click)="showDialog()" mat-fab color="accent" class="button-add">
        <i class="material-icons">add</i>
    </button>
</section>
