<mat-toolbar>
  <mat-toolbar-row>
      <span>Site : </span>
      <button mat-button [matMenuTriggerFor]="menuSite">Menu</button>
      <mat-menu #menuSite="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
      </mat-menu>

      <span class="flex"></span>

      <span>Groupe : </span>
      <button mat-button [matMenuTriggerFor]="menuGroupe">Menu</button>
      <mat-menu #menuGroupe="matMenu">
          <button mat-menu-item>Item 1</button>
          <button mat-menu-item>Item 2</button>
      </mat-menu>

      <span class="flex"></span>

      <md-icon>search</md-icon>

  </mat-toolbar-row>
</mat-toolbar>

<app-apprenant-card [apprenant]="apprenant" *ngFor="let apprenant of apprenants"> </app-apprenant-card>