<mat-toolbar>
    <mat-toolbar-row>
        <span>Apprenants</span>
        <span class="flex"></span>

        <span>Site : </span>
        <mat-form-field>
            <mat-select [(value)]="selectedSiteId">
                <mat-option value="allSites" (click)="groupesSites = groupes; afficherApprenants()">Tous les sites</mat-option>
                <mat-option *ngFor="let site of sites" [value]="site.id" (click)="afficherApprenants()">{{site.ville}}</mat-option>
            </mat-select>
        </mat-form-field>

        <span class="flex"></span>

        <span>Groupe : </span>
        <mat-form-field>
            <mat-select [(value)]="selectedGroupeId">
                <mat-option value="allGroupes" (click)="afficherApprenants()">Tous les groupes</mat-option>
                <mat-option *ngFor="let groupe of groupesSites" [value]="groupe.id" (click)="afficherApprenants()">{{groupe.nom}}</mat-option>
            </mat-select>
        </mat-form-field>

        <span class="flex"></span>
        <span>
          <mat-form-field>
              <input matInput (input)="applyFilter($event.target.value)" placeholder="Chercher" [(ngModel)]="value">
              <button mat-button *ngIf="value" matSuffix mat-icon-button (click)="value='';afficherApprenants();">
                    <mat-icon>close</mat-icon>
              </button>
          </mat-form-field>
      </span>

    </mat-toolbar-row>
</mat-toolbar>

<section>
    <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort>

            <ng-container matColumnDef="NomPrenom">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <a [routerLink]="['/apprenant', element.id]">
                        <span>{{element.nom}} {{element.prenom}}</span>
                    </a>
                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="DateNaissance">
                <mat-header-cell *matHeaderCellDef>Date de naissance</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.dateNaissance | date:'dd/MM/yyyy'}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="PaysOrigine">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Pays d'origine</mat-header-cell>
                <mat-cell
                        *matCellDef="let element"> {{element.paysOrigine}} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell
                        *matCellDef="let element">
                    <button mat-button title="Edit" [routerLink]="['/updateApprenant/' + element.id]">
                        <mat-icon svgIcon="icon-edit"></mat-icon>
                    </button>

                    <button mat-button title="Delete" (click)="deleteConfirmation(element.id)">
                        <mat-icon svgIcon="icon-delete"></mat-icon>
                    </button>

                </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>

</section>

<section class="buttons-fab" *ngIf="dialogStatus === 'inactive'">
    <button (click)="showDialog()" mat-fab color="primary" class="button-add">
        <b class="material-icons">+</b>
    </button>
</section>
