<section>
  <mat-card class="mat-whiteframe-2dp">
    <mat-dialog-actions align="end">
      <button color="primary" mat-raised-button style="position: absolute;left: 20px;margin: 0;" mat-button type="button" [routerLink]="['/updateCours', cour.id]">Modifier</button>
    </mat-dialog-actions>

    <br/><br/><br/>
    <mat-card-content>
      horaire : {{ cour.horaire}}
    </mat-card-content>
    <mat-card-content>
      matiere: {{ cour.matiere }}
    </mat-card-content>
    <mat-card-content>
      duree : {{ cour.duree }}
    </mat-card-content>
  </mat-card>

</section>

<section>
  <mat-dialog-actions align="end">
    <button color="primary" mat-raised-button mat-button type="button" [routerLink]="['/updatePresence', cour.id]">Presences</button>
  </mat-dialog-actions>
  <!-- <app-presences [presences]="presences" (modifier)="modifier($event)"> </app-presences> -->
</section>
