<section>

    <mat-card class="mat-whiteframe-2dp header-mat">
        <mat-card-title>Cours de {{cour.matiere}}</mat-card-title>
        <mat-card-subtitle>Durée du cours : {{cour.duree}}h</mat-card-subtitle>
        <mat-card-content>
          <mat-dialog-actions align="end">
            <button color="primary" mat-raised-button style="position: absolute;right: 0px;bottom: 5px;left :420px;margin: 0;" mat-button type="button" [routerLink]="['/updateCours', cour.id]">Modifier le cours</button>
          </mat-dialog-actions>
          <mat-dialog-actions align="end">
            <button color="accent" mat-raised-button style="position: absolute;right: 18px;bottom: 5px;margin: 0;" mat-button type="button" (click)="downloadPDFPresence()">Télécharger gestion des présences PDF</button>
           
          </mat-dialog-actions>


	  <mat-dialog-actions align="end">
<button color="accent" mat-raised-button style="position: absolute;right: 20px;bottom: 45px;margin: 0;" mat-button type="button" (click)="downloadFeuilleEmargement()">Télécharger feuille d'émargement PDF</button>
 </mat-dialog-actions>

<mat-dialog-actions align="end">
<button color="success" mat-raised-button style="position: absolute;left: 20px;bottom: 45px;margin: 0;" mat-button type="button" (click)="downloadFeuilleEmargementExcel()">Télécharger feuille d'émargement EXCEL</button>
</mat-dialog-actions>

<mat-dialog-actions align="end">
<button color="success" mat-raised-button style="position: absolute;left: 20px;bottom: 5px;margin: 0;" mat-button type="button" (click)="downloadGestionExcel()">Télécharger gestion des présences EXCEL</button>
 </mat-dialog-actions>

        </mat-card-content>
    </mat-card>
</section>

<h1>Séances</h1>

<section>
  <div class="mat-elevation-z8" style="width:100%;">
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date de la séance</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{element.date | date: 'dd/MM/yyyy'}}</span>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="horaire">
        <mat-header-cell *matHeaderCellDef>Horaire de la séance</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <span>{{element.horaire}}</span>
        </mat-cell>
      </ng-container>


      <ng-container matColumnDef="modif">
        <mat-header-cell *matHeaderCellDef>Modifications</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-button title="Edit" [routerLink]="['/updateSeance/' + element.id]">
            <mat-icon svgIcon="icon-edit"></mat-icon>
          </button>

          <button mat-button title="Delete" (click)="deleteConfirmation(element.id)">
            <mat-icon svgIcon="icon-delete"></mat-icon>
          </button>


          <button mat-button title="Présences">
            <mat-icon svgIcon="icon-present" [routerLink]="['/updatePresence/' + element.id + '/' + cour.id]"></mat-icon>
          </button>

        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </div>

</section>

<!--<app-presences></app-presences>-->
