<section>
  <mat-card class="mat-whiteframe-2dp">
    <mat-card-title-group>
      <mat-card-title>
        <a [routerLink]="['/apprenant', apprenant.id]">
          <span>{{ apprenant.nom }} {{ apprenant.prenom }}
            <mat-icon style="color: blue" svgIcon="gender-male" *ngIf="apprenant.genre=='M'"></mat-icon>
            <mat-icon style="color: pink" svgIcon="gender-female" *ngIf="apprenant.genre=='F'"></mat-icon>
          </span>
        </a>
      </mat-card-title>
      <mat-card-subtitle>

      </mat-card-subtitle>

    </mat-card-title-group>
    <mat-card-content>
      <mat-icon svgIcon="phone" ></mat-icon>{{ apprenant.telephone}}
    </mat-card-content>
    <mat-card-content>
      <mat-icon svgIcon="address" ></mat-icon>{{ apprenant.adresse}} , {{ apprenant.codePostal }}  {{ apprenant.commune }}
    </mat-card-content>
    <mat-card-content>
      <button style="left: 90%;margin: 0;" mat-button title="Delete" (click)="delete(apprenant)">
        <mat-icon svgIcon="icon-delete"></mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

</section>
