<section>
  <mat-card class="mat-whiteframe-2dp">
    <mat-card-title-group>
      <mat-card-title>
        <a [routerLink]="['/apprenant', apprenant.id]">
          <span>{{ apprenant.nom }} {{ apprenant.prenom }}</span>
        </a>
      </mat-card-title>
      <mat-card-subtitle>

      </mat-card-subtitle>

    </mat-card-title-group>
    <mat-card-content>
      Telephone : {{ apprenant.telephone}}
    </mat-card-content>
    <mat-card-content>
      Adresse : {{ apprenant.adresse}}
    </mat-card-content>
    <mat-card-content>
      Code postal : {{ apprenant.codePostal }}
    </mat-card-content>
    <mat-card-content>
      Commune : {{ apprenant.commune}}
    </mat-card-content>
    <mat-card-content>
      <button mat-button title="Delete" (click)="delete(apprenant)">
        <mat-icon svgIcon="icon-delete"></mat-icon>
      </button>
    </mat-card-content>
  </mat-card>

</section>