<mat-toolbar>
  <mat-toolbar-row>
      <button (click)="downloadPDF()"><mat-icon id="logo" svgIcon="pdf"></mat-icon></button>
    <span>Apprenants</span>
    <span class="flex"></span>

    <span class="flex"></span>
    <span>
          <mat-form-field>
              <mat-icon matPrefix></mat-icon>
              <input matInput (input)="applyFilter($event.target.value) "placeholder="Chercher">
          </mat-form-field>
    </span>
  </mat-toolbar-row>
</mat-toolbar>

<section>
  <div class="mat-elevation-z8">
    <mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort>

      <ng-container matColumnDef="NomPrenom">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Nom</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <a [routerLink]="['/apprenant', element.id]">
            <span>{{element.nom}} {{element.prenom}}</span>
          </a>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="DateNaissance">
        <mat-header-cell *matHeaderCellDef>Date de naissance</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.dateNaissance | date:'dd/MM/yyyy'}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="PaysOrigine">
        <mat-header-cell *matHeaderCellDef mat-sort-header>Pays d'origine</mat-header-cell>
        <mat-cell
                *matCellDef="let element"> {{element.paysOrigine}} </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
  </div>

</section>
