<section>
  <mat-card class="mat-whiteframe-2dp">
    <mat-dialog-actions align="end">
      <button color="primary" mat-raised-button style="position: absolute;left: 20px;margin: 0;" mat-button type="button" [routerLink]="['/updateFormateur', formateur.id]">Modifier</button>
    </mat-dialog-actions>
    <br/><br/><br/>
    <mat-card-title-group>
      <mat-card-title>
        <span>{{ formateur.nom }} {{ formateur.prenom }}</span>
      </mat-card-title>
    </mat-card-title-group>
    <mat-card-content>
      <mat-icon svgIcon="phone" ></mat-icon>{{ formateur.telephone}}
    </mat-card-content>
    <mat-card-content>
      <mat-icon svgIcon="address" ></mat-icon>{{ formateur.adresse}} , {{ formateur.codePostal }}  {{ formateur.commune }}
    </mat-card-content>
    <mat-card-content *ngIf="site.id !== 0">
      Site : {{ site.ville}}
    </mat-card-content>
    <mat-card-content *ngIf="site.id === 0">
      Site : Aucun
    </mat-card-content>
    <mat-card-content>
      Salarié
      <mat-icon style="color: green" svgIcon="check" *ngIf="formateur.salarie==true"></mat-icon>
      <mat-icon style="color: red" svgIcon="not-check" *ngIf="formateur.salarie==false"></mat-icon>
    </mat-card-content>
  </mat-card>

</section>
