@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
}
* /deep/ * {
  font-family: inherit;
  font-size: 14px;
  line-height: 1.42857143;
  color: inherit;
}
h1, * /deep/ h1 {
  font-size: 36px;
  margin-top: 0px;
  margin-bottom: 0px;
}

button[mat-fab], a[mat-fab] {
  position: fixed;
  bottom: 10px;
  right: 20px;
}

[mat-fab] mat-icon {
  font-size: 2em;
  line-height: 18.6px;
}

mat-toolbar .flex {
  flex: 1 1 auto;
}

mat-cell{
  position: relative;
}

mat-header-cell{
  position: relative;
}

a {
  cursor: pointer;
}

.mat-table {
  overflow: auto;
  max-height: 620px;
}