<mat-toolbar>
  <mat-toolbar-row>
    <span>Site : </span>
    <button mat-button [matMenuTriggerFor]="menuSite">Menu</button>
    <mat-menu #menuSite="matMenu">
      <button mat-menu-item>Item 1</button>
      <button mat-menu-item>Item 2</button>
    </mat-menu>

    <span class="flex"></span>
    <span>
          <mat-form-field>
             <mat-icon matPrefix>search</mat-icon>
              <input matInput
                     placeholder="Chercher"
                     formControlName="search">
        </mat-form-field>

      </span>

  </mat-toolbar-row>
</mat-toolbar>

<mat-list *ngFor="let groupe of groupes">
    <a [routerLink]="['/apprenantsG', groupe.id]">
      <mat-list-item class="mat-whiteframe-2dp mat-card">
            <h3 matLine> {{groupe.nom}} </h3>
      </mat-list-item>
    </a>
</mat-list>


