<mat-toolbar>
    <mat-toolbar-row>
        <span>Groupes</span>

        <span class="flex"></span>
        <span>Site : </span>
        <mat-form-field>
            <mat-select [(value)]="selectedSiteId">
                <mat-option value="allSites" (click)="afficherGroupes()">Tous les sites</mat-option>
                <mat-option *ngFor="let s of sites" (click)="afficherGroupes()" [value]="s.id">{{s.ville}}</mat-option>
            </mat-select>
        </mat-form-field>

        <span class="flex"></span>
        <span>
          <mat-form-field>
              <input matInput (input)="applyFilter($event.target.value)" placeholder="Chercher" [(ngModel)]="value">
                <button mat-button *ngIf="value" matSuffix mat-icon-button (click)="value='';afficherGroupes();">
                    <mat-icon>close</mat-icon>
                </button>
          </mat-form-field>
        </span>
    </mat-toolbar-row>
</mat-toolbar>

<section>
    <div class="mat-elevation-z8">

        <mat-table [dataSource]="dataSource" (matSortChange)="sortData($event)" matSort>
            <ng-container matColumnDef="Nom">
                <mat-header-cell *matHeaderCellDef mat-sort-header> Nom du Groupe</mat-header-cell>

                <mat-cell *matCellDef="let element">
                    <a [routerLink]="['/apprenantsG', element.id]">
                        <span>{{element.nom}}</span>
                    </a>

                </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Site">
                <mat-header-cell *matHeaderCellDef> Site</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ getVilleByIdGroup(element.idSite) }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Nombre">
                <mat-header-cell *matHeaderCellDef mat-sort-header > Nombre de personnes</mat-header-cell>
                <mat-cell *matCellDef="let element"> {{ getNombreByIdGroup(element.id) }} </mat-cell>
            </ng-container>

            <ng-container matColumnDef="Delete">
                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-button title="Edition" [routerLink]="['/updateGroupe/' + element.id]">
                        <mat-icon svgIcon="icon-edit"></mat-icon>
                    </button>
                    <button mat-button title="Suppression" (click)="deleteConfirmation(element.id)">
                        <mat-icon svgIcon="icon-delete"></mat-icon>
                    </button>
                    <button mat-button title="Nettoyage" (click)="clearConfirmation(element.id)">
                        <mat-icon>{{ 'delete_sweep' }}</mat-icon>
                    </button>
                </mat-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" showFirstLastButtons></mat-paginator>
    </div>
</section>

<section class="buttons-fab" *ngIf="dialogStatus === 'inactive'">
    <button (click)="showDialog()" mat-fab color="primary" class="button-add">
        <b class="material-icons">+</b>
    </button>
</section>
