<mat-toolbar>
  <mat-toolbar-row>
    <span>Cours</span>
    <span class="flex"></span>
    <span>Site : </span>


    <span class="flex"></span>
    <span>
          <mat-form-field>
             <mat-icon matPrefix></mat-icon>
              <input matInput
                     placeholder="Chercher" [(ngModel)]="searchText">
        </mat-form-field>
      </span>

  </mat-toolbar-row>

</mat-toolbar>

<section>
    <app-cours-card [cours]="monCour" *ngFor="let monCour of cours | search : ['matiere'] : searchText" (deleteCours)="delete($event)"></app-cours-card>
</section>
